<mat-card class="example-card">
    <mat-card-header>
      <img *ngFor="let image of user.images" mat-card-avatar src="{{ image.url }}">
      <mat-card-title>{{ user.display_name }}</mat-card-title>
      <mat-card-subtitle>followers: {{ user.followers.total }}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <p>
        Big nonce man
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>Recently Played</mat-card-title>
    <mat-list>
        <mat-list-item *ngFor="let track of items">{{ track.artists[0].name }} - {{ track.name }}</mat-list-item>
    </mat-list>
  </mat-card>